<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Name</th>
            <th>Job Type</th>
            <th>Description</th>
            <th>Domain</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{company.companyName}}</td>
            <td>{{company.jobType}}</td>
            <td>{{company.profileDescription}}</td>
            <td>{{company.streamType}}</td>
            <td><a href={{company.jobUrl}}>{{company.jobUrl}}</a></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>


